<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp />
        <logLevel />
        <message />
        <threadName />
        <loggerName />
        <stackTrace />
        <pattern>
          <pattern>{"app": "pluggable-extensions"}</pattern>
        </pattern>
      </providers>
    </encoder>
  </appender>

  <logger name="com.seumoose.core" level="INFO" />
  <logger name="com.seumoose.extensions" level="INFO" />
  <logger name="com.seumoose.launcher" level="INFO" />

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>