# IDE #
## VisualStudioCode IDE ##
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### Local History for Visual Studio Code ###
.history/

### Built Visual Studio Code Extensions ###
*.vsix

# Java #
## Build files ##
.classpath
.settings
.project
effective-pom.xml

## Environments ##
.env

## Reporting ##
### Unit test / coverage reports ###
target/

## Application Specific ##
### Build directories ###
/runtime-extensions